body {
    font-family: Arial, sans-serif;
    background-image: url('bg.PNG');
    background-size: cover; /* Optional: Cover the entire background */
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
}

#edstlogo {
    height: 80px;
    width: auto;
}

.containera {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    display: flex;
    justify-content: space-between;
}

.containera label {
    width: 250px; /* Adjust the width of labels as needed */
    text-align: left;
    margin-right: 10px; /* Adjust as needed */
}

.containera input[type="text"],
.containera input[type="password"] {
    width: 300px; /* Adjust the width of input fields as needed */
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1; /* Add this line to make the input fields flexible */
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff; /* Blue border color on focus */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}


