@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
}
header{
	background:#6e92f5;
	width:100%;	
}
img{
    padding-top: 20px;
    width: 100px;
    height: auto;
}
.heads{
	display: flex;
	justify-content: space-between;
}
.profile-section{
	display: flex;
    align-items: right;
    
}
.user-info{
	display: flex;
}
.user-name{
	padding: 2px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 2px;
}
.user-id{
	padding: 2px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 2px;
}
.extraClass{
	font-size: 25px;
	padding: 5px;
}
.icon{
	position: realtive;
}
.dropdown-menu {
    display: none;/* Initially hide the dropdown menu */
    position: absolute; /* Position the dropdown menu relative to its containing element */
    background-color: #f9f9f9; /* Background color of the dropdown menu */
    min-width: 160px; /* Minimum width of the dropdown menu */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add shadow to the dropdown menu */
    z-index: 20000; /* Ensure the dropdown menu is above other elements */
    right: 0; /* Position the dropdown menu at the right edge of the containing element */
    top:30%; /* Position the dropdown menu below the profile icon */
}
.dropdown-menu a {
    display: block; /* Display dropdown menu items as block elements */
    padding: 10px; /* Add padding to dropdown menu items */
    text-align: left; /* Align text to the left */
    text-decoration: none; /* Remove underline from dropdown menu items */
    color: #333; /* Text color of dropdown menu items */
}
.dropdown-menu a:hover {
    background-color: #ddd; /* Background color of dropdown menu items on hover */
}
.landn{
	padding-left: 10px;
    display: flex;
    width: 50%;
}
.name h2{
	padding-left: 20px;
    padding-top: 50px;
    font-weight: bold;
    padding-bottom: 16.5px;
}
header {
    top: 0;
    background: #6e92f5;
    width: 100%;  
    position:fixed;
}
main {
    box-sizing: border-box;
    background: #fff;
}
nav {
    top: 90px; /* Adjust this value to match the height of your header */
    width: 100%;
    background: #6e92f5;
    text-align: right;  
}
nav a {
    color: rgb(0, 0, 0); /* Adjust the color of the links in the fixed navigation */
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav a.active {
    color: rgb(255, 255, 255); /* Adjust the color of the active link in the fixed navigation */
}
.navHidden{
	display: none;
}
main {
	
	height: 600px;
    margin-top: 140px; 
}
  


/* table {
    color: #000;
    background-color: aliceblue;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin: auto;
    border-radius: 6px; 
} */
.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.addbtn button{
    position: absolute;
    width: 100px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.addbtn {
    text-align: left;
    padding-left: 10%;
}
.twobtn {
    padding-right: 10%;
    text-align: right;
}
.twobtn button{
    width: 100px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* #tableBody{
	overflow-y: auto;
}
table, th, td {
    border: 1px solid black;
}
thead{
	position: sticky;
}
th{
	font-size: 14px;
	background-color: #6e92f5;
    padding: 10px;
    text-align: center;
}
td{
	font-size: 14px;
    padding: 10px;
    text-align: center;
}*/

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
            width: 150px; 
        }
th:nth-child(7),
td:nth-child(7) {
            width: 150px; 
        }
th:nth-child(8),
td:nth-child(8),
th:nth-child(12),
td:nth-child(12) {
           text-align: right;
        }
        th:nth-child(1),
td:nth-child(1){
	width: 200px; 
} 

 

.tcontainer {
    overflow-x: auto;
    position: relative;
    height: 550px;
    margin-top: 10px;
}

#expenseTable {
    border-collapse: collapse;
    
}

#expenseTable th, #expenseTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

#expenseTable thead th {
    position: sticky;
    top: 0;
    color: black;
    background-color:  #6e92f5;
}

#expenseTable tbody {
    width: 100%;
}

#expenseTable tbody tr {
    display: table-row;
}

#expenseTable tbody tr {
    background-color: aliceblue;
}

#expenseTable tbody td {
    overflow: hidden;
}


input, select, textarea {
    width: 100%;
}
#statusFilter{
    width: 20%;
}
form button{
    width: 100px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.sbtn{
    padding-right: 10%;
    text-align: right;
    margin-top: 10px;
}
.sbtn button{
    width: 100px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.dropdown-menu-nav{
	display: none;
}
.abtn{
	padding-right: 10%;
    text-align: right;
    
}
.abtn button{
	width: 100px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 
.ebtn button{
	width: 50px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ebtn i{
	color: #fff;
}
.df, .dg{
    display: flex;
}
.login-container {
    position:relative;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center; 
}
.login-container label {
    font-size: 20px;
    font-weight: 500;
    color: #2e2e2e;
}
.login-container input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0; 
}
.cost{
  padding-left: 10px;
  padding-top: 5px;
}
@media only screen and (max-width : 450px){
   
    img {
    	padding-top: 0.5px;
        width: 60px; 
    }
    main{
     margin-top: 107.4px;
     
     height: 400px;
    }
    .landn{
    height: 50px;
	margin-right: 120px;
    display: flex;
    width: 70%;
    }
    .name h2 {
    	padding-left: 10px;
    	padding-right: 5px;
        font-size: 10px; 
        padding-top: 20px; 
    }
    .heads {
        flex-direction: column; 
        align-items: center; 
    }
	.user-info{
		display: flex;
	}
	.user-name{
		padding: 2px;
		font-weight: bold;
		margin-top: 5px;
		margin-right: 2px;
	}
	.user-id{
		padding: 2px;
		font-weight: bold;
		margin-top: 5px;
		margin-right: 2px;
	}
	.extraClass{
		font-size: 20px;
		padding: 5px;
	}
	.icon{
		position: realtive;
		height: 10px;
	}
    .profile-section {
        order: -1; 
        margin-left: 210px;
        font-size: 10px;   
    }
    nav {
        top: 100px; 
        width:100%;
        
    }
    nav a{
    	font-size: 10px;
    }
    table {
    	top: 80px;
        font-size: 12px;     
    }
    
    .addbtn button{
	    margin-top:4px;
	    width: 80px;
	    padding: 5px;
	    font-size: 10px;
	    border-radius: 2px;
	}
	.addbtn {
	    padding-left: 5%;
	}
	.twobtn {
	    padding-right: 6%; 
	}
	.twobtn button{
	    width: 60px;
	    padding: 5px;
	    font-size: 10px;
	    border-radius: 2px;
	}
	nav a{
		display: none;
	}
	.navHidden{
				display:block;
				padding: 5px;
				margin-right:10px;
			}
	.dropdown-menu-nav {
    display: none;/* Initially hide the dropdown menu */
    position: absolute; /* Position the dropdown menu relative to its containing element */
    background-color: #f9f9f9; /* Background color of the dropdown menu */
    min-width: 100px; /* Minimum width of the dropdown menu */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add shadow to the dropdown menu */
    z-index: 1; /* Ensure the dropdown menu is above other elements */
    right: 0; /* Position the dropdown menu at the right edge of the containing element */
    top:95%; /* Position the dropdown menu below the profile icon */
	}
	.dropdown-menu-nav a {
	    display: block; /* Display dropdown menu items as block elements */
	    padding: 5px; /* Add padding to dropdown menu items */
	    text-align: left; /* Align text to the left */
	    text-decoration: none; /* Remove underline from dropdown menu items */
	    color: black; /* Text color of dropdown menu items */
	    font-size: 10px;
	}
	.active {
	    background-color: #000000;
	}
	.active a{
		
	    color: white;
	}
}
